<mat-toolbar color="primary" class="header mat-elevation-z5">

  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggleSidenav()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <span>web-app-frontend</span>
  <span class="spacer"></span>

  <button mat-fab flex="33" color="basic"  [matMenuTriggerFor]="menu" class="example-header-image">
    <mat-icon color="primary" class="profile-icon">person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/app/profile"  mat-menu-item>
      <mat-icon>perm_identity</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</mat-toolbar>