.spacer{
    flex: 1 1 auto;
  }

.example-header-image {
    background-size: cover;
  }

.header {
    position: sticky;
    position: -webkit-sticky;  /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    left: 0;
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    width: 100%  !important;
}

.profile-icon{
  width: 24px;
  height: 24px;
  transform: scale(2);
}

/* .mat-elevation-z5 {
  position: relative;
  z-index: 2;
} */