table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
  }
  
  .content-td, .content-th {
    width: 30%;
  }

  .content-edit, .content-delete, .content-activate {
    width: 5%;
  }

.filter{
    width: 40%;
}

tr.table-row-hover:not(.example-expanded-row):hover {
  background: #E7E5F0;
}

.add-user-spacer {
  flex: 1 1 auto;
}

.users-list-tools {
  margin:5px;
}

.inactive{
  color: #FF0000;
}