mat-form-field{
    width: 300px
}
mat-toolbar, mat-dialog-content{
    width: 700px
}
.mat-form-field-placeholder {
    display:block !important;
}

th,td {
    padding:5px;
  }

td {
    padding:5px;
    vertical-align: top;
    text-align: left;
  }

.rightButton{
    width: 200px
}

table {
    width: 300px
}

.resetButton{
    margin-left:10px;
}

/* .login-Form{
    width: 320px
} */