<mat-toolbar color="primary">   
    <mat-toolbar-row>
        <h2 mat-dialog-title>add new User</h2>
    </mat-toolbar-row> 
</mat-toolbar>
<mat-dialog-content>
    <mat-card>
    <section class="login-form">
        <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="addUser()">
            <mat-form-field>
                <input 
                    type="text" 
                    matInput 
                    placeholder="UserName" 
                    name="newUserUserName"
                    required
                    minlength="5"
                    [(ngModel)]="newUserUserName"
                    [disabled]="addSuccess"
                    (keyup)="onKey($event)">
                    <mat-error *ngIf="newUserUserName.length==0">must not be empty</mat-error>
                    <mat-error *ngIf="newUserUserName.length>0 && newUserUserName.length<5">Should be at least 5 characters long</mat-error>
            </mat-form-field>  
            <p></p>  
            <mat-form-field>
                <input 
                    type="password" 
                    matInput 
                    placeholder="Password" 
                    name="newUserPassword"
                    required
                    minlength="5"
                    [(ngModel)]="newUserPassword1"
                    [disabled]="addSuccess"
                    (keyup)="onKey($event)">
                    <mat-error *ngIf="newUserPassword1.length==0">must not be empty</mat-error>
                    <mat-error *ngIf="newUserPassword1.length>0 && newUserPassword1.length<5">Should be at least 5 characters long</mat-error>
            </mat-form-field>
            <p></p>  
            <mat-form-field>
                <input 
                    type="password" 
                    matInput 
                    placeholder="Repeat Password" 
                    name="newUserPassword2"
                    required
                    minlength="5"
                    [(ngModel)]="newUserPassword2"
                    [disabled]="addSuccess"
                    (keyup)="onKey($event)">
                <mat-error *ngIf="newUserPassword2.length==0">must not be empty</mat-error>
                <mat-error *ngIf="(newUserPassword2.length>0 && newUserPassword2.length<5)">Should be at least 5 characters long</mat-error>
                <mat-hint *ngIf="matchError">Passwords does not match</mat-hint>
            </mat-form-field>
            <p></p>  
            <mat-form-field>
                <input 
                    type="email" 
                    matInput 
                    placeholder="email" 
                    name="newUserEmail"
                    required
                    minlength="5"
                    [(ngModel)]="newUserEmail"
                    [disabled]="addSuccess"
                    (keyup)="onKey($event)">                    
            </mat-form-field>
            <p></p> 
            <button type="submit" mat-raised-button color="primary" [disabled]="addSuccess || !showAddButton" ><mat-icon>done_outline</mat-icon> Create</button>
            <p></p> 
            <mat-error *ngIf="addError">{{addError}}</mat-error>
            <mat-hint *ngIf="addSuccess">{{addSuccess}}</mat-hint>
        </form>
    </section>
</mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-raised-button [mat-dialog-close]="newUser" cdkFocusInitial>Close</button>
</mat-dialog-actions>
