<mat-toolbar color="primary">   
    <mat-toolbar-row>
        <h2 mat-dialog-title>add new User</h2>
    </mat-toolbar-row> 
</mat-toolbar>
<mat-dialog-content>
    <mat-card>
    <section class="login-form">
        <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field>
                <input 
                    type="text" 
                    matInput 
                    placeholder="UserName" 
                    ngModel 
                    name="newUserUserName"
                    #newUserUserName="ngModel"
                    required
                    minlength="5"
                    [disabled]="addSuccess">
                <mat-error *ngIf="newUserUserName.hasError('required')">UserName must not be empty</mat-error>
                <mat-error *ngIf="!newUserUserName.hasError('required')">Should be at least 5 characters long</mat-error>
            </mat-form-field>  
            <p></p>  
            <mat-form-field>
                <input 
                    type="password" 
                    matInput 
                    placeholder="Password" 
                    ngModel 
                    name="newUserPassword"
                    #newUserPassword="ngModel"
                    required
                    minlength="5"
                    [disabled]="addSuccess">
                <mat-error *ngIf="newUserPassword.hasError('required')">Password must not be empty</mat-error>
                <mat-error *ngIf="!newUserPassword.hasError('required')">Should be at least 5 characters long</mat-error>
            </mat-form-field>
            <p></p>  
            <mat-form-field>
                <input 
                    type="email" 
                    matInput 
                    placeholder="email" 
                    ngModel 
                    name="newUserEmail"
                    #newUserEmail="ngModel"
                    required
                    minlength="5"
                    [disabled]="addSuccess">
                <mat-error *ngIf="newUserEmail.hasError('required')">Password must not be empty</mat-error>
                <mat-error *ngIf="!newUserEmail.hasError('required')">Should be at least 5 characters long</mat-error>
            </mat-form-field>
            <p></p> 
            <button type="submit" mat-raised-button color="primary" [disabled]="addSuccess"><mat-icon>done_outline</mat-icon> Create</button>
            <p></p> 
            <mat-error *ngIf="addError">{{addError}}</mat-error>
            <mat-hint *ngIf="addSuccess">{{addSuccess}}</mat-hint>
        </form>
    </section>
</mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-raised-button [mat-dialog-close]="newUser" cdkFocusInitial>Close</button>
</mat-dialog-actions>
